<h1>Read CSV file with Angular</h1>

<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
   
<button type="submit" class="btn btn-primary" (click)="createDataInitiate()">Save</button> 

 
<table class="minimalistBlack" *ngIf="records.length > 0">    
  <thead>    
    <tr>    
      <th>Region </th>    
      <th>Country </th>    
      <th>ItemType </th>    
        
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of records;let i = index;">    
      <td> <span>{{record.region}}</span> </td>    
      <td> <span>{{record.country}}</span> </td>    
      <td> <span>{{record.itemType}}</span> </td>    
        
    </tr>    
  </tbody>    
</table>      

<router-outlet></router-outlet>