<h1>Read CSV file with Angular</h1>
<!-- <input type="file" file-reader="fileContent" /> -->
<!-- <input type="file" #fileImportInput name="CSV File Upload" 
(change)="fileChangeListener($event)" accept=".csv">

<div ng-if="fileContent" class="content">
  {{title}}
</div> -->

<!-- <div class="form-group">
  <input type="file" (change)="onFileSelect($event.target)" name="myfile">
</div> -->

<!-- <input type="file" #fileImportInput name="File Upload" (change)="csvChanged($event)" id="txtFileUpload">
-->
<h3>{{csv | json}}</h3>
<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
<button type="submit" class="btn btn-primary">Save</button> 
<table class="minimalistBlack" *ngIf="records.length > 0">    
  <thead>    
    <tr>    
      <th>Region </th>    
      <th>Country </th>    
      <th>ItemType </th>    
        
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of records;let i = index;">    
      <td> <span>{{record.region}}</span> </td>    
      <td> <span>{{record.country}}</span> </td>    
      <td> <span>{{record.itemType}}</span> </td>    
        
    </tr>    
  </tbody>    
</table>      

<router-outlet></router-outlet>